name: ou

# Trigger workflow manually and on push events with changes in SRC or D files
on:
  workflow_dispatch:
  push:
    paths:
      - '**.src'
      - '**.SRC'
      - '**.d'
      - '**.D'

permissions:
  contents: write

# The checkout action needs to be run first
jobs:
  output-units:
    name: Generate output units from scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Generate output units
        id: ou
        uses: szapp/output-unit-action@v1
        with:
          srcFile: Ninja/ArmorExpansion/Content_G2.src
          outFile: Ninja/ArmorExpansion/OU_G2.CSL

      # Optional: If pushed, commit updated file if it changed
      - name: Commit file to repository if changed
        if: github.event_name == 'push' && steps.ou.outputs.changed == 'true'
        run: |
          git config user.name $(git log -1 --format=%an)
          git config user.email $(git log -1 --format=%ae)
          git add .
          git commit -m "Update output units"
          git push

      # Optional: If manually triggered, provide as artifact for download
      - name: Upload file as artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v5
        with:
          name: Output Units
          path: Ninja/ArmorExpansion/OU_G2.CSL
          overwrite: true
